@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
     
}

/* Body Style */
body{
    background-color: #333333;
    max-width: 1440px;
    margin: 0 auto;
    color: #FFFFFF;
}


/* Navbar Style */
.navbar{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 1.5rem; */
}
.fitness-exercise{
    font-size:x-large;
    color: #e6533c;
    padding-left: 1.5rem;
}
.navbar a{
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 2rem;
    font-weight: 300;
    font-size: 1rem;

}
.home-btn{
    background-color: #e6533c;
    padding: 8px 20px;
    border-radius: 40px;
}
.threeDotsCornerImg{
    display: none;
}










/* responsive */
@media screen and (max-width: 576px){
    .navbar{
        margin: 0 1.5rem;
    }
    .fitness-exercise{
        padding-left: 0;
    }
    .nav-options{
        display: none;
    }
    .threeDotsCornerImg{
        display: block;
    }
}